#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.devoviastudio.sudoku
IPHONEOS_DEPLOYMENT_TARGET = 15.0
APS_ENVIRONMENT = production
CODE_SIGN_ENTITLEMENTS = Runner/Runner.entitlements
INFOPLIST_KEY_NSGKFriendListUsageDescription = Sudoku Duel uses your Game Center friends to help you find familiar players and send challenges.
INFOPLIST_KEY_SudokuLeaderboardGlobalRating = REPLACE_WITH_LEADERBOARD_ID
INFOPLIST_KEY_SudokuAchievementFirstWin = REPLACE_WITH_ACHIEVEMENT_ID

// SUDOKU_SIMULATOR_ARM64_FIX
EXCLUDED_ARCHS[sdk=iphonesimulator*] = i386
